<html>
<head>
      <link rel="stylesheet" type="text/css" href="{{ asset('static/css/bootstrap.css') }}"/>
      <script type="text/javascript" src="{{ asset('static/js/jquery-3.1.1.min.js') }}"></script>

      {% block stylesheet %}
      {% endblock %}
</head>

<body>
{% block login %}
{% endblock %}
{% block content %}
{% endblock %}

{% block javascript %}
{% endblock %}

</body>

</html>


