
{% extends 'UserBundle:Default:base.html.twig' %}
{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Link Oluştur</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="alert alert-success" style="display: none">
            <strong>Link Eklendi</strong>
        </div>

        <div class="alert alert-danger" style="display: none"><strong>Hata Oluştu</strong></div>
        <div class="row">
            <div class="col-lg-12">
                <form id="link-form"  method="post" role="form">
                <div class="form-group">
                    <input  data-validation="url"  data-validation-error-msg="Lütfen gerçerli link giriniz" type="text" name="url" id="url" tabindex="1" class="form-control" placeholder="url" value="">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-4">
                            <input type="submit" name="link-submit" id="link-submit" tabindex="4" class="btn btn-lg btn-success btn-block" value="Link Ekle">
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        var Forms={
            Link:{
                Self:$('#link-form'),
                Field:{
                    Url:$('#login-form input[name ="url"]')

                } ,
                Bind:function () {
                    Forms.Link.Self.on('submit',function (e) {
                        e.preventDefault();
                        $.post('{{ url('user_ajax_url_add') }}',$(this).serialize(),function (result) {
                            if(result.success)
                            {
                                setTimeout(function () {
                                    location.reload();
                                },1000);
                                $('.alert-success').slideDown();
                            }else {
                                $('.alert-danger').slideDown();
                            }
                        })
                    })
                }
            },

            Bind:function () {
                Forms.Link.Bind();
            }
        }

        $(document).ready(function () {
            $.validate({
                validateOnBlur : false,
                errorMessagePosition : 'top',
                scrollToTopOnError : false
            });
            Forms.Bind();

        });


    </script>
{% endblock %}