
{% extends 'UserBundle:Default:base.html.twig' %}
{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Popup Kod Al</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="link-form"  method="post" role="form">
                <div class="form-group">
                    <textarea style="width: 500px; height: 200px">
                        <script type="text/javascript">
                            var internet_reklam_url_id="{{ url.Url }}";
                            var internet_reklam_user_id = "{{ url.UserId }}";
                        </script>
                        <script src="http://internreklam.online/static/js/popup.js"></script>
                    </textarea>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

