{% extends 'UserBundle:Default:base.html.twig' %}

{% block content %}
    <section id="main" class="clearfix">
        <div class="container">
            <h1 class="text-center">
                {{ Label("About Title") }}
            </h1>
            {{ Label("About Desc") }}
        </div>
    </section>
{% endblock %}
{% block javascript %}
{% endblock %}