<html>
<head>
    <title>Yönlendiriliyorsunuz</title>
    {% block stylesheet %}
    {% endblock %}

</head>

<body>
{% block login %}
{% endblock %}
{% block content %}
{% endblock %}

{% block javascript %}
{% endblock %}


</body>

</html>


